@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}

body{
	text-align:center;
}

#box{
	width:500px;
	margin:50px auto;
	display:block;
	padding:15px;
	text-align:center;
	border:1px solid #300;
	/*background:-webkit-linear-gradient(45deg,green,yellow);*/
	background:-webkit-radial-gradient(center, circle, red 0%, orange 50%);
	-webkit-border-radius:25px;
	-webkit-box-shadow:rgba(102,102,102,.6) 10px 10px 10px;
	/*
	-webkit-transform:translate(150px,300px) rotate(45deg) scale(0.1)
	-webkit-transform:translate(150px,300px);
	-webkit-transform:skew(30deg);
	-webkit-transform:rotate(45deg);
	-webkit-transform:scale(-1,1)*/
}

#text{
	font:bold 30px Century Gothic;
	text-shadow:rgb(102,102,102) 3px 3px 5px;
}